.mat-cell, .mat-header-cell {
    min-width: 110px;
}


/* .mat-header-row, .mat-row {
    min-width: 1300px;
  }
 */
.mat-column-kind {
    max-width: 28px !important;
    min-width: 28px !important;
}

.mat-column-date {
    max-width: 90px !important;
    margin-right: 12px;
}

.mat-column-AO {
    min-width: 210px !important;
}

.mat-column-SKU {
    min-width: 210px !important;
}

.mat-column-Product {
    min-width: 210px !important;
}

.mat-table {
    overflow: auto;
}
