<p-dataTable [value]="movements" [scrollable]="true">

  <p-column *ngIf="!doc.type.includes('Info')" field="kind" [style]="{'width': '22px', 'text-align': 'center'}">
    <ng-template let-row="rowData" pTemplate="body">
      <i *ngIf="row['kind']" class="fa fa-plus" style="color: #5cb85c"></i>
      <i *ngIf="!row['kind']" class="fa fa-minus" style="color: #d9534f"></i>
    </ng-template>
  </p-column>

  <p-column field="date" header="date" [style]="{'width': '100px', 'text-align': 'center'}">
    <ng-template let-row="rowData" pTemplate="body">
      <div>
        {{row.date | date: 'short'}}
      </div>
    </ng-template>
  </p-column>

  <p-column field="company" header="company" [style]="{'width': '110px', 'text-align': 'center'}">
    <ng-template let-row="rowData" pTemplate="body">
      <div>
        {{row.company.value}}
      </div>
    </ng-template>
  </p-column>

  <p-column *ngFor="let column of additionalColumns" [field]="column" [header]="column" [style]="{'width': '150px', 'text-align': 'center'}">
    <ng-template let-row="rowData" pTemplate="body">
      <div>
        {{ row[column]?.value === null ? 'EMPTY' : row[column]?.value || row[column]}}
      </div>
    </ng-template>
  </p-column>
</p-dataTable>