<h5 style="margin-bottom: 0px">Accounting register movements</h5>
<div *ngFor="let item of (movements$ | async) as movements" style="min-height: 60px">
  <div fxFlex="105px" fxLayoutAlign="center center">
    <div fxFlex fxFill fxLayoutAlign="center center" class="account-box">
      {{ item.date | date }}
    </div>
  </div>

  <div fxFlex fxLayoutAlign="center center">

    <div fxLayout="column" fxFlex=30 fxFill class="account-box">
      <div fxLayoutAlign="center end" fxFlex fxFill class="account">
        {{ item.debet.account }}
      </div>
      <div fxLayoutAlign="center start" fxFlex fxFill class="decription">
        <span style="margin-top: 4px">{{ item.debet.description }} </span>
      </div>
    </div>

    <div fxLayout="column" fxFill fxFlex=50 class="account-box">
      <div *ngIf="item.debet.subcount1.value" fxFlex fxFill fxLayoutAlign="center center" class="sub-box" [pTooltip]="item.debet.subcount1.code" tooltipPosition="bottom">
        {{ item.debet.subcount1.value }}
      </div>
      <div *ngIf="item.debet.subcount2.value" fxFlex fxFill fxLayoutAlign="center center" class="sub-box" [pTooltip]="item.debet.subcount2.code" tooltipPosition="bottom">
        {{ item.debet.subcount2.value }}
      </div>
      <div *ngIf="item.debet.subcount3.value" fxFlex fxFill fxLayoutAlign="center center" class="sub-box" [pTooltip]="item.debet.subcount3.code" tooltipPosition="bottom">
        {{ item.debet.subcount3.value }}
      </div>
      <div *ngIf="item.debet.subcount4.value" fxFlex fxFill fxLayoutAlign="center center" class="sub-box" [pTooltip]="item.debet.subcount4.code" tooltipPosition="bottom">
        {{ item.debet.subcount4.value }}
      </div>
    </div>
    
    <div fxFlex="10" fxFill fxLayoutAlign="center center" class="account-box">
      {{ item.debet.qty | number }}
    </div>
    <div fxFlex="10" fxFill fxLayoutAlign="center center" class="account-box">
      {{ item.debet.currency }}
    </div>

  </div>

  <div fxFlex fxLayoutAlign="center center">

    <div fxLayout="column" fxFlex="30" fxFill class="account-box">
      <div fxLayoutAlign="center end" fxFlex fxFill class="account">
        {{ item.kredit.account }}
      </div>
      <div fxLayoutAlign="center start" fxFlex fxFill class="decription">
        <span style="margin-top: 4px">{{ item.kredit.description }} </span>
      </div>
    </div>

    <div fxLayout="column" fxFill fxFlex=50 class="account-box">
      <div *ngIf="item.kredit.subcount1.value" fxFill fxFlex fxLayoutAlign="center center" class="sub-box" [pTooltip]="item.kredit.subcount1.code" tooltipPosition="bottom">
        {{ item.kredit.subcount1.value }}
      </div>
      <div *ngIf="item.kredit.subcount2.value" fxFill fxFlex fxLayoutAlign="center center" class="sub-box" [pTooltip]="item.kredit.subcount2.code" tooltipPosition="bottom">
        {{ item.kredit.subcount2.value }}
      </div>
      <div *ngIf="item.kredit.subcount3.value" fxFill fxFlex fxLayoutAlign="center center" class="sub-box" [pTooltip]="item.kredit.subcount3.code" tooltipPosition="bottom">
        {{ item.kredit.subcount3.value }}
      </div>
      <div *ngIf="item.kredit.subcount4.value" fxFill fxFlex fxLayoutAlign="center center" class="sub-box" [pTooltip]="item.kredit.subcount4.code" tooltipPosition="bottom">
        {{ item.kredit.subcount4.value }}
      </div>
    </div>

    <div fxFlex="10" fxFill fxLayoutAlign="center center" class="account-box">
      {{ item.kredit.qty | number }}
    </div>
    <div fxFlex="10" fxFill fxLayoutAlign="center center" class="account-box">
      {{ item.kredit.currency }}
    </div>

  </div>

  <div fxFlex="80px" fxLayoutAlign="center center">
    <div fxFlex fxFill fxLayoutAlign="center center" class="account-box">
      {{ item.sum | number }}
    </div>
  </div>

</div>