<p-dataTable [value]="movements" [resizableColumns]="true">

  <p-column *ngIf="!doc.type.includes('Info')" field="kind" [style]="{'width': '22px', 'text-align': 'center'}">
    <ng-template let-row="rowData" pTemplate="body">
      <i *ngIf="row['kind']" class="fa fa-plus" style="color: #5cb85c"></i>
      <i *ngIf="!row['kind']" class="fa fa-minus" style="color: #d9534f"></i>
    </ng-template>
  </p-column>

  <p-column field="date" header="date">
    <ng-template let-row="rowData" pTemplate="body">
      {{row.date | date: 'short'}}
    </ng-template>
  </p-column>

  <p-column field="company" header="company">
    <ng-template let-row="rowData" pTemplate="body">
      {{row.company.value}}
    </ng-template>
  </p-column>

  <p-column *ngFor="let column of additionalColumns" [field]="column" [header]="column">
    <ng-template let-row="rowData" pTemplate="body">
      {{ row[column]?.value === null ? 'EMPTY' : row[column]?.value || row[column]}}
    </ng-template>
  </p-column>

</p-dataTable>