<form novalidate [formGroup]="form">

  <div *ngIf="value?.type?.includes('.')">
    <mat-form-field fxFlex>
      <input matInput [required]="required" [placeholder]="placeholder" [matAutocomplete]="auto"
        [readOnly]="readOnly" ([disabled])="disabled" (blur)="onBlur()" [tabIndex]="tabIndex" formControlName="suggest">
      <button mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="handleSearch($event)" [tabIndex]=-1 autocomplete="off"><mat-icon>search</mat-icon></button>
      <button mat-icon-button matSuffix type="button" style="cursor: pointer" [disabled]="!value?.value" (click)="handleOpen($event)" [tabIndex]=-1 autocomplete="off"><mat-icon>visibility</mat-icon></button>
      <button mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="handleReset($event)" [tabIndex]=-1><mat-icon>clear</mat-icon></button>
    </mat-form-field>
  </div>

  <div *ngIf="value?.type === 'string'">
    <mat-form-field fxFlex>
      <input matInput formControlName="suggest" [required]="required" [placeholder]="placeholder"
        [readOnly]="readOnly" ([disabled])="disabled" (blur)="onBlur()" [tabIndex]="tabIndex" autocomplete="off">
      <button mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="handleReset($event)" [tabIndex]=-1><mat-icon>clear</mat-icon></button>
    </mat-form-field>
  </div>

  <div *ngIf="value?.type === 'number'">
    <mat-form-field fxFlex>
      <input matInput [required]="required" [placeholder]="placeholder" [readOnly]="readOnly"
        ([disabled])="disabled" (blur)="onBlur()" [tabIndex]="tabIndex" type="number" autocomplete="off" formControlName="suggest">
      <button mat-icon-button matSuffix [disabled]="true" [tabindex]="-1" type="button"><mat-icon>attach_money</mat-icon></button>
      <button mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="handleReset($event)" [tabIndex]=-1><mat-icon>clear</mat-icon></button>
    </mat-form-field>
  </div>

  <div *ngIf="value?.type === 'datetime'">
    <mat-form-field fxFlex>
      <input matInput [required]="required" [placeholder]="placeholder" [readOnly]="readOnly"
        [matDatepicker]="picker" ([disabled])="disabled" (blur)="onBlur()" [tabIndex]="tabIndex" formControlName="suggest">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <button mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="handleReset($event)" [tabIndex]=-1><mat-icon>clear</mat-icon></button>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>
  </div>

  <mat-checkbox *ngIf="value?.type === 'boolean'" style="margin-top: 36px" ([disabled])="disabled"
    (blur)="onBlur()" [tabIndex]="tabIndex" formControlName="suggest">{{placeholder}}
    <button mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="handleReset($event)" [tabIndex]=-1><mat-icon>clear</mat-icon></button>    
  </mat-checkbox>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let value of suggests$ | async" [value]="value">
      <span>{{ value.value }}</span>
      <span> ({{value.code}}) </span>
    </mat-option>
  </mat-autocomplete>
</form>