:host {
    display: flex;
    flex: 1;
  }
  
  md-sidenav {
    width: 320px;
  }
  
  .content {
    padding: 12px;
  }
  
  .fab-bottom-right {
    position: fixed;
    bottom: 16px;
  }

  /deep/ .mat-list-item-content {
    font-size: 10pt;
  }
  
  /deep/ md-icon.avatar {
    padding-right: 10px;
  }
  
  .mat-elevation-z8 {
    position: relative;
    z-index: 8;
  }

