<form novalidate [formGroup]="viewModel.formGroup">
<md-accordion class="panel-headers-align" displayMode="flat">
  <md-expansion-panel hideToggle="true" expanded="true">
    <md-expansion-panel-header style="min-height: 65px;">
      <md-panel-title>
        <div fxFlex fxLayoutAlign="space-between center">
          <div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <md-icon *ngIf="viewModel.model.deleted" color="warn">indeterminate_check_box</md-icon>
              <md-icon *ngIf="viewModel.model.posted && !viewModel.model.deleted" color="primary">check_box</md-icon>
              <md-icon *ngIf="!(viewModel.model.posted) && !(viewModel.model.deleted)" color="accent">check_box_outline_blank</md-icon>
              <span [fxShow]="false" [fxShow.gt-xs]="true" style="margin-left: 10px; font-weight: bold">{{ viewModel.model.description.split(',')[0] }}</span>
            </div>
          </div>
        </div>
      </md-panel-title>
      <md-panel-description>
        <span [fxShow]="false" [fxShow.gt-xs]="true"></span>
        <div fxFlex fxLayoutAlign="end center" fxLayoutGap="4px" style="height: 65px; margin-right: 6px">
          <ng-container *ngTemplateOutlet="actionTepmlate ? actionTepmlate : actionTepmlateDefault; context: {viewModel: viewModel}"></ng-container>
          <button type="button" md-mini-fab color="accent" (click)="$event.stopPropagation(); Close()" mdTooltip="close"><md-icon>close</md-icon></button>
        </div>
      </md-panel-description>
    </md-expansion-panel-header>

    <md-card-content>
      <ng-container *ngTemplateOutlet="formTepmlate? formTepmlate: formTepmlateDefault; context: {viewModel: viewModel}"></ng-container>
      <ng-content></ng-content>
    </md-card-content>
  
  </md-expansion-panel>

  <md-expansion-panel hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>Additonal Info</md-panel-title>
      <md-panel-description>Details
        <md-icon>map</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>
    <div *ngFor="let control of viewModel.view; let i = index" fxLayout="column">
        <j-control *ngIf="control.controlType === 'script'" [control]="control" [form]="viewModel.formGroup" fxFlex></j-control>
    </div>
  </md-expansion-panel>

  <md-expansion-panel hideToggle="true" *ngIf="this.isDoc && viewModel.model.posted">
    <md-expansion-panel-header>
      <md-panel-title>Register movements</md-panel-title>
      <md-panel-description>Account
        <md-icon>toc</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

    <j-register-movement [doc]="viewModel.model"></j-register-movement>

  </md-expansion-panel>
</md-accordion>
</form>

<ng-template #formTepmlateDefault let-v="viewModel">

  <div fxLayout="column">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px">
      <div fxLayoutGap.gt-xs="column" fxFlex>
        <div *ngFor="let control of v.view; let i = index">
          <j-control *ngIf="(i%3+1) === 1 && control.type !== 'table' && control.controlType !== 'script'" [control]="control" [form]="v.formGroup"></j-control>
        </div>
      </div>
      <div fxLayoutGap.gt-xs="column" fxFlex>
        <div *ngFor="let control of v.view; let i = index">
          <j-control *ngIf="(i%3+1) === 2 && control.type !== 'table' && control.controlType !== 'script'" [control]="control" [form]="v.formGroup"></j-control>
        </div>
      </div>
      <div fxLayoutGap.gt-xs="column" fxFlex>
        <div *ngFor="let control of v.view; let i = index">
          <j-control *ngIf="(i%3+1) === 3 && control.type !== 'table' && control.controlType !== 'script'" [control]="control" [form]="v.formGroup"></j-control>
        </div>
      </div>
    </div>


    <div fxLayoutGap.gt-xs="column">
      <md-tab-group #tg dynamicHeight="true">
        <div *ngFor="let control of v.view; let i = index">
          <span *ngIf="control.type === 'table'">
            <md-tab #ta [tabindex]="i">
              <ng-template md-tab-label>
                <div>{{ control.label }}</div>
              </ng-template>
              <j-control [control]="control" [form]="v.formGroup"></j-control>
            </md-tab>
          </span>
        </div>
      </md-tab-group>
    </div>

  </div>
</ng-template>

<ng-template #actionTepmlateDefault let-v="viewModel">
  <div>
    <button md-mini-fab color="primary" [disabled]="!v.formGroup.valid" (click)="$event.stopPropagation(); PostClose()" mdTooltip="post & close" *ngIf="!v.model.deleted">
      <md-icon>done_all</md-icon>
    </button>
    <button md-mini-fab color="secondary" [disabled]="!v.formGroup.valid" (click)="$event.stopPropagation(); Post()" mdTooltip="post" *ngIf="!v.model.deleted">
      <md-icon>done</md-icon>
    </button>
    <button md-mini-fab color="secondary" [disabled]="!v.formGroup.valid" (click)="$event.stopPropagation(); Copy()" mdTooltip="copy" *ngIf="!v.model.deleted && !v.model.id.startsWith('copy')">
      <md-icon>content_copy</md-icon>
    </button>
    <button md-mini-fab color="secondary" [disabled]="!v.formGroup.valid" (click)="$event.stopPropagation(); unPost()" mdTooltip="unPost" *ngIf="!v.model.deleted && v.model.posted">
      <md-icon>undo</md-icon>
    </button>
    <button md-mini-fab color="secondary" [disabled]="!v.formGroup.valid" (click)="$event.stopPropagation(); Save()" mdTooltip="save" *ngIf="!v.model.deleted && !v.model.posted">
      <md-icon>save</md-icon>
    </button>
    <button md-mini-fab [disabled]="!v.formGroup.valid" [color]="v.model.deleted ? 'secondary' : 'warn'" (click)="$event.stopPropagation(); Delete()" [mdTooltip]="v.model.deleted ? 'undelete': 'delete'">
      <md-icon>delete</md-icon>
    </button>
  </div>
</ng-template>

<ng-template #sideNavTepmlate let-v="viewModel" let-sidenav="sidenav">
  <md-card>
    <div>Document: {{ viewModel.model.type }}</div>
    <div>Id: {{ viewModel.model.id }}</div>
    <br>
    <button md-button (click)="this.router.navigate([viewModel.model.type]);sidenav.close()">Open list</button>
    <button md-button (click)="sidenav.close()">Close</button>
  </md-card>
</ng-template>