<div class="mat-card" fxLayoutAlign="start space-between" fxLayout.xs="column" style="height: 65px" style.xs="height: 120px"
  fxLayoutAlign.xs="center space-between">
  <div fxLayout="row" fxFlex fxLayoutAlign="start center" fxLayoutAlign.xs="center center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <md-icon *ngIf="viewModel.model.deleted" color="warn">indeterminate_check_box</md-icon>
      <md-icon *ngIf="viewModel.model.posted && !viewModel.model.deleted" color="primary">check_box</md-icon>
      <md-icon *ngIf="!(viewModel.model.posted) && !(viewModel.model.deleted)" color="accent">check_box_outline_blank</md-icon>
      <span style="margin-left: 10px">{{ viewModel.model.description }}</span>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <ng-container *ngTemplateOutlet="actionTepmlate ? actionTepmlate : actionTepmlateDefault; context: {viewModel: viewModel}"></ng-container>
    <button md-mini-fab color="accent" (click)="Close()" mdTooltip="close" style="margin-left: 22px; margin-right: -12px"><md-icon>close</md-icon></button>
  </div>
</div>


<md-accordion class="panel-headers-align" displayMode="flat">

  <md-expansion-panel hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>Main</md-panel-title>
      <md-panel-description>&nbsp;
        <md-icon>map</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>
    <md-card style="margin-top: 1px">
        <md-card-content>
          <form novalidate [formGroup]="viewModel.formGroup">
            <ng-container *ngTemplateOutlet="formTepmlate? formTepmlate: formTepmlateDefault; context: {viewModel: viewModel}"></ng-container>
          </form>
        </md-card-content>
      </md-card>


  </md-expansion-panel>


  <md-expansion-panel hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>Additonal Info</md-panel-title>
      <md-panel-description>Details
        <md-icon>map</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>
  </md-expansion-panel>

  <md-expansion-panel hideToggle="true" *ngIf="viewModel.model.type.startsWith('Document.')">
    <md-expansion-panel-header>
      <md-panel-title>Account register movements</md-panel-title>
      <md-panel-description>&nbsp;
        <md-icon>account_circle</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

    <j-register-movement [docID]="viewModel.model.id"></j-register-movement>

  </md-expansion-panel>
</md-accordion>

<ng-template #formTepmlateDefault let-v="viewModel">
  <div fxLayout="column">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px">
      <div fxLayoutGap.gt-xs="column" fxFlex>
        <div *ngFor="let control of v.view; let i = index">
          <j-control *ngIf="(i%3+1) === 1 && control.type !== 'table'" [control]="control" [form]="v.formGroup"></j-control>
        </div>
      </div>
      <div fxLayoutGap.gt-xs="column" fxFlex>
        <div *ngFor="let control of v.view; let i = index">
          <j-control *ngIf="(i%3+1) === 2 && control.type !== 'table'" [control]="control" [form]="v.formGroup"></j-control>
        </div>
      </div>
      <div fxLayoutGap.gt-xs="column" fxFlex>
        <div *ngFor="let control of v.view; let i = index">
          <j-control *ngIf="(i%3+1) === 3 && control.type !== 'table'" [control]="control" [form]="v.formGroup"></j-control>
        </div>
      </div>
    </div>

    <div fxLayoutGap.gt-xs="column" *ngIf="v.tableParts?.length">
      <md-tab-group #tg dynamicHeight="true">
        <md-tab #ta *ngFor="let tab of v.tableParts; index as i" [tabindex]="i">
          <ng-template md-tab-label>
            <div>{{ tab.value }}</div>
          </ng-template>
          <j-control [control]="v.view[tab.id]" [form]="v.formGroup" [tab]="tab"></j-control>
        </md-tab>
      </md-tab-group>
    </div>

  </div>

</ng-template>

<ng-template #actionTepmlateDefault let-v="viewModel">
  <div fxLayoutGap="2px">
    <button md-mini-fab color="primary" [disabled]="!v.formGroup.valid" (click)="PostClose()" mdTooltip="post & close" *ngIf="!v.model.deleted">
      <md-icon>done_all</md-icon>
    </button>
    <button md-mini-fab color="secondary" [disabled]="!v.formGroup.valid" (click)="Post()" mdTooltip="post" *ngIf="!v.model.deleted">
      <md-icon>done</md-icon>
    </button>
    <button md-mini-fab color="secondary" [disabled]="!v.formGroup.valid" (click)="unPost()" mdTooltip="unPost" *ngIf="!v.model.deleted && v.model.posted">
      <md-icon>undo</md-icon>
    </button>
    <button md-mini-fab color="secondary" [disabled]="!v.formGroup.valid" (click)="Save()" mdTooltip="save" *ngIf="!v.model.deleted && !v.model.posted">
      <md-icon>save</md-icon>
    </button>
    <button md-mini-fab [disabled]="!v.formGroup.valid" [color]="v.model.deleted ? 'secondary' : 'warn'" (click)="Delete()" [mdTooltip]="v.model.deleted ? 'undelete': 'delete'">
      <md-icon>delete</md-icon>
    </button>
  </div>
</ng-template>

<ng-template #sideNavTepmlate let-v="viewModel">
  <md-card>
    FORM DATA: {{ viewModel?.model | json }}
    <br>
    <button md-button>Close</button>
  </md-card>
</ng-template>