<div [formGroup]="form" [ngSwitch]="control.controlType" *ngIf="!control.hidden" [style.marginTop]="marginTop()" class="ui-fluid">
  <div *ngSwitchCase="'string'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <input #pc [required]="control.required" pInputText [formControlName]="control.key" [readonly]="control.readOnly" autocomplete="off"
      (focus)="$event.target.select()" spellcheck="false">
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'textarea'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <textarea #pc [required]="control.required" pInputTextarea [formControlName]="control.key" [readonly]="control.readOnly"
      (focus)="$event.target.select()" spellcheck="false">
    </textarea>
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'number'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <input #pc [required]="control.required" pInputText type="number" [formControlName]="control.key" [readonly]="control.readOnly"
      autocomplete="off" (focus)="$event.target.select()" [id]="control.key">
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <j-autocomplete-png #pc *ngSwitchCase="'autocomplete'" [required]="control.required" [formControlName]="control.key" [disabled]="control.readOnly"
    [formControl]="form.controls[control.key]" [id]="control.key" [placeholder]="control.label" [hidden]="control.hidden" [type]="control.type"
    [owner]="{ owner: control.owner, value: form.get(control.owner?.dependsOn)?.value || form.root.get(control.owner?.dependsOn)?.value }"
    [showLabel]="control.showLabel" (focus)="pc.select()">
  </j-autocomplete-png>

  <div *ngSwitchCase="'date'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <input #pc pInputText class="calendar" [value]="formControl!.value | date:'yyy-MM-dd'" [required]="control.required" [readonly]="control.readOnly"
      autocomplete="off" (input)="parseDate($event.target.value)" (focus)="$event.target.select()" spellcheck="false" type="date">
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'datetime'" [ngClass]="{'ui-float-label' : control.showLabel}">
    <input #pc pInputText class="calendar" [value]="formControl!.value | date:'yyy-MM-ddTHH:ss'" [required]="control.required"
      [readonly]="control.readOnly" autocomplete="off" (input)="parseDate($event.target.value)" (focus)="$event.target.select()"
      spellcheck="false" type="datetime-local">
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'boolean'" [style.marginTop]="control.showLabel ? '27px': ''">
    <p-checkbox #pc *ngSwitchCase="'boolean'" binary="true" [label]="control.showLabel ? control.label: ''" [formControlName]="control.key"></p-checkbox>
  </div>

  <div *ngSwitchCase="'table'">
    <div [formArrayName]="control.key">
      <j-table-part-png [formGroup]="form.controls[control.key]" [control]="control"></j-table-part-png>
    </div>
  </div>

  <div *ngSwitchCase="'script'">
    <label *ngIf="control.showLabel" [for]="control.key">{{ control.label }}:</label>
    <ngx-monaco-editor #pc [options]="{language: control.type}" [ngStyle]="control.style" [formControlName]="control.key">
    </ngx-monaco-editor>
  </div>
</div>