<div [ngSwitch]="columnDef.type">

  <mat-form-field *ngSwitchCase="'string'" fxFlex>
    <input matInput [placeholder]="columnDef.label" autocomplete="off" (change)="onChange()" [(ngModel)]="columnDef.filter.right">
    <button type="button" mat-icon-button matSuffix style="cursor: pointer" (click)="columnDef.filter.right = null; onChange()"
      [tabIndex]=-1>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field *ngSwitchCase="'number'" fxFlex>
    <input matInput [placeholder]="columnDef.label" style="text-align: right" type="number" autocomplete="off" (change)="onChange($event)"
      [(ngModel)]="filterInterval.start">
    <button type="button" mat-icon-button matSuffix [disabled]="true" [tabindex]="-1">
      <mat-icon>attach_money</mat-icon>
    </button>
    <button type="button" mat-icon-button matSuffix style="cursor: pointer" (click)="columnDef.filter.right = null; onChange()"
      [tabIndex]=-1>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <div *ngSwitchCase="'datetime'" fxLayout="column">
    <div style="margin-bottom: 12px">
      <mat-form-field fxFlex>
        <mat-select #sel placeholder="quick interval ..." (change)="selectPeriod(sel.value)">
          <mat-option value='td'>TODAY</mat-option>
          <mat-option value='7d'>7 DAYS</mat-option>
          <mat-option value='tw'>THIS WEEK</mat-option>
          <mat-option value='lw'>LAST WEEK</mat-option>
          <mat-option value='tn'>THIS MONTH</mat-option>
          <mat-option value='lm'>LAST MONTH</mat-option>
          <mat-option value='ty'>THIS YEAR</mat-option>
          <mat-option value='ly'>LAST YEAR</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="display: flex; align-items: baseline; justify-content: space-between">
      <mat-form-field style="width: 120px">
        <input matInput [matDatepicker]="picker1" name="start" [placeholder]="columnDef.label + ' (start)'" autocomplete="off" (change)="onChange($event)"
          (dateChange)="onChange($event)" [(ngModel)]="filterInterval.start">
        <mat-datepicker-toggle matSuffix [for]="picker1" [tabindex]="1"></mat-datepicker-toggle>
        <button type="button" mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="filterInterval.start = null" [tabIndex]=-1>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field style="width: 120px">
        <input matInput [matDatepicker]="picker2" name="end" [placeholder]="columnDef.label + ' (end)'" autocomplete="off" (change)="onChange($event)"
          (dateChange)="onChange($event)" [(ngModel)]="filterInterval.end" fxFlex>
        <mat-datepicker-toggle matSuffix [for]="picker2" [tabindex]="1"></mat-datepicker-toggle>
        <button type="button" mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="filterInterval.end = null" [tabIndex]=-1>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div *ngSwitchCase="'date'" fxLayout="column">
    <mat-form-field fxFlex>
      <input matInput [matDatepicker]="picker1" name="start" [placeholder]="columnDef.label + ' (start)'" autocomplete="off" (change)="onChange($event)"
        (dateChange)="onChange($event)" [(ngModel)]="filterInterval.start">
      <mat-datepicker-toggle matSuffix [for]="picker1" tabindex="1"></mat-datepicker-toggle>
      <button type="button" mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="filterInterval.start = null" [tabIndex]=-1>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput [matDatepicker]="picker2" name="end" [placeholder]="columnDef.label + ' (end)'" autocomplete="off" (change)="onChange($event)"
        (dateChange)="onChange($event)" [(ngModel)]="filterInterval.end">
      <mat-datepicker-toggle matSuffix [for]="picker2" tabindex="1"></mat-datepicker-toggle>
      <button type="button" mat-icon-button matSuffix type="button" style="cursor: pointer" (click)="filterInterval.end = null" [tabIndex]=-1>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <span *ngSwitchCase="'boolean'" fxLayout="column">
  </span>

  <j-autocomplete *ngSwitchDefault [placeholder]="columnDef.label" [openButton]="false" [type]="columnDef.type" [checkValue]="false"
    (change)="onChange($event)" [(ngModel)]="columnDef.filter.right">
  </j-autocomplete>

</div>

<mat-datepicker #picker1></mat-datepicker>
<mat-datepicker #picker2></mat-datepicker>