<mat-icon (click)="$event.stopPropagation(); isOpen = !isOpen" style="font-size: 16px" cdkOverlayOrigin #origin="cdkOverlayOrigin"
  [style.color]="isFilter ? 'red' : ''">
  filter_list
</mat-icon>

<ng-template cdkConnectedOverlay hasBackdrop backdropClass="cdk-overlay-transparent-backdrop" [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen" width="300px" (attach)="attach()" (detach)="detach()" (backdropClick)="backdropClick()"
  (positionChange)="positionChange($event)">

  <mat-card>
    <div cdkTrapFocus>
      <mat-card-content fxLayout="column">
        <j-filter-form-control [columnDef]="columnDef"></j-filter-form-control>
      </mat-card-content>
      <mat-card-actions align="center" style="margin-bottom: 0; padding: 0;">
        <button mat-raised-button color="primary" (click)="onFilter()" [disabled]="!this.filter?.valid()">Ok</button>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </div>
  </mat-card>

</ng-template>