<div [ngStyle]="{'display': showTree ? 'flex': 'block'}">

  <div *ngIf="showTree" style="margin-right: 4px">
    <j-tree-list #tl [docType]="type" (selectionChange)="parentChange($event)"></j-tree-list>
  </div>
  <div>
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton type="button" id="add" icon="fa-plus" class="ui-button-success" (click)="add()"></button>
        <button pButton type="button" id="open" icon="fa-pencil-square-o" class="ui-button-secondary" *ngIf="table?.selection?.length == 1" (click)="open()"></button>
        <button pButton type="button" id="copy" icon="fa-copy" class="ui-button-secondary" *ngIf="table?.selection?.length == 1" (click)="copy()"></button>
        <button pButton type="button" id="post" icon="fa-check" class="ui-button-warning" *ngIf="table?.selection?.length >=1 && !table?.selection[0].posted && isDoc" (click)="post()"></button>
        <button pButton type="button" id="unpost" icon="fa-square-o" class="ui-button-warning" *ngIf="table?.selection?.length >=1 && table?.selection[0].posted && isDoc" (click)="post('unpost')"></button>
        <button pButton type="button" id="delete" icon="fa-trash" class="ui-button-danger" *ngIf="table?.selection?.length" (click)="delete()"></button>
        <button pButton type="button" id="showTree" icon="fa-sitemap" class="ui-button-secondary" *ngIf="isCatalog" (click)="showTree = !showTree"></button>
      </div>
    </p-toolbar>

    <p-table #tbl [value]="dataSource.result$ | async" selectionMode="multiple" dataKey="id" [lazy]="true" (onSort)="sort()"
      (onFilter)="sort()" sortMode="multiple" [scrollable]="true" [reorderableColumns]="true" [filterDelay]="500"
      (onContextMenuSelect)="onContextMenuSelect($event)" [contextMenu]="cm" [metaKeySelection]="true" [columns]="columns">

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th [ngStyle]="{'width': '24px', 'text-align': 'center'}"></th>
          <th pReorderableColumn [pSortableColumn]="column.field" *ngFor="let column of columns" [ngStyle]="column.style">
            {{column.label}}
            <p-sortIcon [field]="column.field"></p-sortIcon>
          </th>
          <th></th>
        </tr>
        <tr>
          <th [ngStyle]="{'width': '24px', 'text-align': 'center'}"></th>
          <th *ngFor="let column of columns" [ngStyle]="column.style" [ngSwitch]="column.type" class="ui-fluid ui-column-filter">
            <div *ngSwitchCase="'boolean'">
              <p-triStateCheckbox [ngModel]="table?.filters[column.field]?.value" (ngModelChange)="update(column, $event, '=')"></p-triStateCheckbox>
            </div>
            <div *ngSwitchCase="'number'">
              <input [ngModel]="table?.filters[column.field]?.value" pInputText type="numeric" (ngModelChange)="update(column, $event, '>=')">
            </div>
            <div *ngSwitchCase="'date'">
              <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="table?.filters[column.field]?.value" readonlyInput="true"
                [appendTo]="'body'" [locale]="locale" (ngModelChange)="update(column, $event, '=')" [dateFormat]="dateFormat"></p-calendar>
            </div>
            <div *ngSwitchCase="'datetime'">
              <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="table?.filters[column.field]?.value" readonlyInput="true"
                [appendTo]="'body'" [locale]="locale" (ngModelChange)="update(column, $event, '=')" [dateFormat]="dateFormat"></p-calendar>
            </div>
            <div *ngSwitchCase="'string'">
              <input [ngModel]="table?.filters[column.field]?.value" pInputText (ngModelChange)="update(column, $event, 'like')">
            </div>
            <div *ngSwitchDefault>
              <j-autocomplete-png [checkValue]="false" [type]="table?.filters[column.field]?.value?.type || column.type || 'string'" [ngModel]="table?.filters[column.field]?.value"
                [showOpen]="false" [showFind]="false" [showClear]="true" (ngModelChange)="update(column, $event, '=')" [id]="column.field">
              </j-autocomplete-png>
            </div>
          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" (dblclick)="open()">
          <td class="ui-resizable-column" [ngStyle]="{'width': '24px', 'text-align': 'center'}">
            <i *ngIf="rowData['posted'] && !rowData['deleted']" class="fa fa-check-square" style="color: #5cb85c"></i>
            <i *ngIf="rowData['deleted']" class="fa fa-minus-square" style="color: #d9534f"></i>
            <i *ngIf="!rowData['posted'] && !rowData['deleted']" class="fa fa-square-o" style="color: #f0ad4e"></i>
          </td>
          <td *ngFor="let column of columns" [ngStyle]="column.style">
            <span [ngSwitch]="column.type" [id]="column.field">
              <span *ngSwitchCase="'date'" [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy'}}</span>
              <span *ngSwitchCase="'datetime'" [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy HH:mm:ss'}}</span>
              <span *ngSwitchCase="'number'" [id]="column.field">{{rowData[column.field] | number:'1.2-4'}}</span>
              <span *ngSwitchCase="'boolean'" [id]="column.field">
                <i *ngIf="rowData[column.field]" class="fa fa-check-square" [id]="column.field"></i>
                <i *ngIf="!rowData[column.field]" class="fa fa-square-o" [id]="column.field"></i>
              </span>
              <span *ngSwitchCase="'string'" [id]="column.field">{{rowData[column.field]}}</span>
              <span *ngSwitchDefault [id]="column.field">{{rowData[column.field]?.value}}</span>
            </span>
          </td>
          <td></td>
        </tr>
      </ng-template>

    </p-table>
    <p-toolbar>
      <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="fa-refresh" class="ui-button-secondary" (click)="dataSource.refresh(id.id)"></button>        
        <button pButton type="button" icon="fa-fast-backward" (click)="dataSource?.first()" [disabled]="!dataSource?.continuation?.first"></button>
        <button pButton type="button" icon="fa-step-backward" (click)="dataSource?.prev()" [disabled]="!dataSource?.continuation?.first"></button>
        <button pButton type="button" icon="fa-step-forward" (click)="dataSource?.next()" [disabled]="!dataSource?.continuation?.last"></button>
        <button pButton type="button" icon="fa-fast-forward" (click)="dataSource?.last()" [disabled]="!dataSource?.continuation?.last"></button>
      </div>
    </p-toolbar>
  </div>
</div>

<p-contextMenu #cm [model]="contexCommands"></p-contextMenu>