.mat-column-select {
  min-width: 32px;
  max-width: 32px;
}

.mat-column-date {
  min-width: 130px;
  max-width: 130px;
}

.mat-column-code {
  min-width: 100px;
  max-width: 100px;
}


.mat-column-description {
  min-width: 120px;
  max-width: 250px;
}


.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
  max-height: 550px;
}

.mat-container {
  display: flex;
  flex-direction: column;
}

.search-header {
  min-height: 46px;
  margin-top: 10px;
  font-size: 30pt;
}
/* 
.mat-row:hover {
  background: #f5f5f5;
}
 */