.mat-column-select {
  min-width: 32px;
  max-width: 32px;
}

.mat-column-posted {
  min-width: 32px;
  max-width: 32px;
}

.mat-header-cell {
  display: flex;
}

.mat-column-date {
  margin-right: 16px;
}

.mat-table {
  max-height: 540px;
  overflow: auto;
}

.mat-row:hover {
  background: #f5f5f5;
}

