<md-card-content>
  <form novalidate [formGroup]="formGroup">
    <div fxLayout="column" fxLayoutGap="35px">
      <div fxFlex>
        <div *ngFor="let control of controls;">
          <j-control [control]="control" [form]="formGroup"></j-control>
        </div>
      </div>
    </div>
  </form>
</md-card-content>
<div fxLayoutAlign="center center" fxLayoutGap="25px">
  <ng-container *ngTemplateOutlet="actionTepmlateDefault; context: {viewModel: formGroup}"></ng-container>
</div>

<ng-template #actionTepmlateDefault let-v="viewModel">
  <button md-raised-button color="warn" (click)="dialogRef.close(formGroup.value)">Save</button>
  <button md-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
</ng-template>