<form #form="ngForm" (ngSubmit)="dialogRef.close(form.value)" ngNativeValidate>
  <div fxLayout="column" fxLayoutAlign="center center" >

    <md-input-container>
        <input mdInput [(ngModel)]="data.code" name="code" placeholder="code" required>
    </md-input-container>

    <md-input-container>
      <input mdInput [mdDatepicker]="picker" [(ngModel)]="data.date" name = "date" placeholder="date" required>
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>      
    </md-input-container>
    <md-datepicker #picker></md-datepicker>

    <md-input-container>
        <input mdInput [(ngModel)]="data.description" name="description" placeholder="description" required>
    </md-input-container>

    <div fxLayout="row" fxLayoutGap="24px">
      <md-checkbox ngModel name="isAdmin">Is Admin?</md-checkbox>
      <md-checkbox ngModel name="isCool">Is Cool?</md-checkbox>
    </div>
  </div>

  <md-dialog-actions align="end">
    <button md-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button md-raised-button color="accent" [disabled]="!form.valid" >Save User</button>
  </md-dialog-actions>

</form>
