.mat-column-select {
  min-width: 32px;
  max-width: 32px;
  margin-left: -20px;
}

.mat-column-posted {
  min-width: 32px;
  max-width: 32px;
}

.mat-header-cell {
  display: flex;
}

.mat-column-description {
  max-width: 350px;
  min-width: 170px;
}

.mat-table {
  max-height: 370px;
  max-width: 370px;
  overflow: auto;
}

.mat-row:hover {
  background: #f5f5f5;
}