<div cdkTrapFocus>
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <input #filter pInputText placeholder="search by description...">
    </div>
    <div class="ui-toolbar-group-right">
      <button pButton type="button" icon="fa-fast-backward" (click)="this.dataSource.first()" [disabled]="!this.dataSource.continuation.first"></button>
      <button pButton type="button" icon="fa-step-backward" (click)="this.dataSource.prev()" [disabled]="!this.dataSource.continuation.first"></button>
      <button pButton type="button" icon="fa-step-forward" (click)="this.dataSource.next()" [disabled]="!this.dataSource.continuation.last"></button>
      <button pButton type="button" icon="fa-fast-forward" (click)="this.dataSource.last()" [disabled]="!this.dataSource.continuation.last"></button>
    </div>
  </p-toolbar>

  <p-dataTable #dt [value]="(dataSource?.connect() | async)" selectionMode="single" dataKey="id" sortMode="multiple"
    [lazy]="true" (onSort)="update()" (onRowDblclick)="onSelectHandler(dt.selection)" [resizableColumns]="true">
    <p-column field="posted" [style]="{'width': '22px', 'text-align': 'center'}">
      <ng-template let-row="rowData" pTemplate="body">
        <i *ngIf="row['posted'] && !row['deleted']" class="fa fa-check-square" style="color: #5cb85c"></i>
        <i *ngIf="row['deleted']" class="fa fa-minus-square" style="color: #d9534f"></i>
        <i *ngIf="!row['posted'] && !row['deleted']" class="fa fa-square-o" style="color: #f0ad4e"></i>
      </ng-template>
    </p-column>
    <p-column field="description" header="description" [sortable]="true" [style]="{'width': '70%'}"></p-column>
    <p-column field="code" header="code" [sortable]="true" [style]="{'width': '130px'}"></p-column>
    <p-column *ngIf="isDoc" field="Amount" header="Amount" [sortable]="true" [style]="{'width': '110px', 'text-align' : 'right'}"></p-column>
    <p-column *ngIf="additianalColumn1" [field]="additianalColumn1" [header]="additianalColumn1" [sortable]="true" [style]="{'width': '250px'}"></p-column>
    <p-column *ngIf="additianalColumn2" [field]="additianalColumn2" [header]="additianalColumn2" [sortable]="true" [style]="{'width': '250px'}"></p-column>
  </p-dataTable>
</div>