<div fxLayout="column">
    <div class="search-header" fxLayout="row">
      <md-input-container fxFlex>
        <input mdInput #filter placeholder="select items in list OR type here to filter by code/description ...">
      </md-input-container>
      <button md-mini-fab color="accent" md-dialog-close mdTooltip="close" style="margin-left: 22px; margin-right: -12px"><md-icon>close</md-icon></button>
    </div>
  
    <md-table #table [dataSource]="dataSource" mdSort class="mat-table">
  
      <ng-container cdkColumnDef="select">
        <md-header-cell *cdkHeaderCellDef>
          <md-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </md-checkbox>
        </md-header-cell>
        <md-cell *cdkCellDef="let row">
          <md-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </md-checkbox>
        </md-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="posted">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let row" style="margin-top: 4px">
          <md-icon *ngIf="row['deleted']" color="warn">indeterminate_check_box</md-icon>
          <md-icon *ngIf="row['posted']" color="primary">check_box</md-icon>
          <md-icon *ngIf="!row['posted'] && !row['deleted']" color="accent">check_box_outline_blank</md-icon>
        </md-cell>
      </ng-container>
  
      <ng-container *ngIf="data.docType.startsWith('Document')" mdColumnDef="date">
        <md-header-cell *cdkHeaderCellDef md-sort-header>date</md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.date | date:'dd.MM.yyyy mm:ss'}} </md-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef md-sort-header>description</md-header-cell>
        <md-cell *cdkCellDef="let row">
            <span class="data-table-select" (click)="dialogRef.close(row)" style="cursor: pointer">{{row.description}}</span> 
        </md-cell>
      </ng-container>
  
      <md-header-row *cdkHeaderRowDef="columns"></md-header-row>
      <md-row *cdkRowDef="let row; columns: columns;" (click)="dialogRef.close(row)" style="cursor: pointer;" ></md-row>

    </md-table>
    <md-paginator #paginator [length]="dataSource.renderedData?.length" [pageSize]="data.pageSize"></md-paginator>
    <md-progress-bar mode="indeterminate" *ngIf="dataSource.isLoadingResults"></md-progress-bar>
  </div>