<div fxLayout="column" [style.xs]="{'min-width': '280px'}">
  <div class="search-header" fxLayout="row">
    <mat-input-container fxFlex>
      <input matInput #filter placeholder="filter ...">
    </mat-input-container>
    <button type="button" mat-icon-button color="default" mat-dialog-close style="margin-right: -12px">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-table">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? dataSource.masterToggle() : null" [checked]="dataSource.isAllSelected()" [indeterminate]="dataSource.selection.hasValue() && !dataSource.isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let row">  
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? dataSource.selection.toggle(row.id) : null" [checked]="dataSource.selection.isSelected(row.id)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="posted">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <mat-icon *ngIf="row['deleted']" color="warn">
          {{row['parents']>0 ? 'low_priority' : row['childs']>0 ? 'filter_' + ((row['childs'] > 9) ? '9_plus' : row['childs']) : 'indeterminate_check_box'}}
        </mat-icon>
        <mat-icon *ngIf="row['posted'] && !row['deleted']" color="primary">
          {{row['parents']>0 ? 'low_priority' : row['childs']>0 ? 'filter_' + ((row['childs'] > 9) ? '9_plus' : row['childs']) : 'check_box'}}
        </mat-icon>
        <mat-icon *ngIf="!row['posted'] && !row['deleted']" color="accent">
          {{row['parents']>0 ? 'low_priority' : row['childs']>0 ? 'filter_' + ((row['childs'] > 9) ? '9_plus' : row['childs']) : 'check_box_outline_blank'}}
        </mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <span class="data-table-select" (click)="dialogRef.close(row)" style="cursor: pointer">{{row.description}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>code</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.code}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 70px; min-width: 70px; display: flex; justify-content: flex-end">Amount</mat-header-cell>
      <mat-cell *cdkCellDef="let row" style="max-width: 70px; min-width: 70px; font-weight: bold; text-align: right">{{row.Amount | number:'1.2-2'}}</mat-cell>
    </ng-container>

    <ng-container *ngIf="additianalColumn1" [matColumnDef]="additianalColumn1">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 150px; min-width: 150px">{{additianalColumn1}}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" style="max-width: 150px; min-width: 150px">{{row[additianalColumn1]}}</mat-cell>
    </ng-container>

    <ng-container *ngIf="additianalColumn2" [matColumnDef]="additianalColumn2">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 150px; min-width: 150px">{{additianalColumn2}}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" style="max-width: 150px; min-width: 150px">{{row[additianalColumn2]}}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: columns;" (click)="dialogRef.close(row)" style="cursor: pointer;"></mat-row>

  </mat-table>
  <div fxLayoutAlign="end center" fxLayoutGap="4px">
    <button type="button" mat-icon-button color="default" (click)="dataSource ? dataSource.first() : undefined" [disabled]="!dataSource?.continuation?.first">
      <mat-icon>first_page</mat-icon>
    </button>
    <button type="button" mat-icon-button color="default" (click)="dataSource ? dataSource?.prev() : undefined" [disabled]="!dataSource?.continuation?.first">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button type="button" mat-icon-button color="default" (click)="dataSource ? dataSource?.next() : undefined" [disabled]="!dataSource?.continuation?.last">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button type="button" mat-icon-button color="default" (click)="dataSource ? dataSource?.last() : undefined" [disabled]="!dataSource?.continuation?.last">
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
</div>