<div style="min-width: 280px">
  <mat-card-content>
    <form novalidate [formGroup]="formGroup">
      <div fxLayout="column" fxLayoutGap="35px">
        <div fxFlex>
          <div *ngFor="let control of controls;">
            <j-control [control]="control" [form]="formGroup"></j-control>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <div fxLayoutAlign="center center" fxLayoutGap="25px">
    <button mat-raised-button type="submit" color="warn" [disabled]="!formGroup.valid" [mat-dialog-close]="formGroup.value">Save</button>
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
  </div>
</div>