<md-tab-group #tg [(selectedIndex)]="index" (selectChange)="this.onChange($event)" dynamicHeight="true">
    <md-tab *ngFor="let tab of this.tabs">
        <ng-template md-tab-label>
            <div style="display: flex; flex-direction: column; align-items: center; width:100%">
                <md-icon md-tab-icon color="primary">{{ tab.icon }}</md-icon>
                <span>{{ tab.header }}</span>
            </div>
<!--             <md-icon color="primary" style="font-size: 10pt; width: 0px;height: 100%" *ngIf="tab?.docType !== HOME" md-tab-icon  
                (click)="this.handleClose(tab.docType)">close
            </md-icon> -->
        </ng-template>
        <common-datatable *ngIf="tab?.docType !== HOME; else Dashboard" [docType]="tab.docType" [pageSize]="10"></common-datatable>
        <ng-template #Dashboard>
            <app-home></app-home>
        </ng-template>
    </md-tab>
</md-tab-group>
<button md-mini-fab (click)="handleClose()" *ngIf="this.index !== 0" class="fab-bottom-right">
    <md-icon mdTooltip="close tab" [mdTooltipShowDelay]="1000">close</md-icon>
</button>