.fab-bottom-right {
    position: fixed;
    right: 16px;
    top: 67px;
    z-index: 1;
}

.close-icon {
    font-size: 10pt;
    width: 5px;
    margin: 0px;
    padding: 0px;
}

.close-icon:hover {

}
