<md-tab-group [(selectedIndex)]="index" (selectChange)="this.onChange($event)" dynamicHeight="true">
    <md-tab *ngFor="let tab of this.tabs">
        <ng-template md-tab-label>
                <md-icon md-tab-icon color="primary">search</md-icon>
                {{ tab.header }}
        </ng-template>
        <common-datatable *ngIf="tab?.docType !== HOME; else Dashboard" [docType]="tab.docType" [pageSize]="10"></common-datatable>
        <ng-template #Dashboard>
            <app-home></app-home>
        </ng-template>
    </md-tab>
</md-tab-group>
<button md-mini-fab (click)="handleClose($event)" *ngIf="this.index !== 0" class="fab-bottom-right">
    <md-icon>close</md-icon>
</button>