<form novalidate [formGroup]="viewModel.formGroup" cdkTrapFocus>
  <p-panel [header]="description?.value?.concat(isPosted ? ', [posted]' : ', [unposted]')" [toggleable]="true">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <ng-container *ngTemplateOutlet="actionTepmlate ? actionTepmlate : actionTepmlateDefault; context: {viewModel: viewModel}"></ng-container>
      </div>
      <div class="ui-toolbar-group-right">
        <!--  <p-splitButton [model]="this.commands" styleClass="ui-button-secondary" label="more ..."></p-splitButton> -->
        <button *ngIf="isPosted" pButton type="button" icon="fa-list" class="ui-button-secondary" (click)="Goto()"></button>
        <button *ngIf="isPosted" pButton type="button" icon="fa-print" class="ui-button-secondary" (click)="Print()"></button>
        <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="Close()"></button>
      </div>
    </p-toolbar>

    <ng-container *ngTemplateOutlet="formTepmlate? formTepmlate: formTepmlateDefault; context: {viewModel: viewModel}"></ng-container>
    <ng-content></ng-content>
  </p-panel>

  <p-panel [toggleable]="true" header="Additonal Info" [collapsed]="true">
    <div fxLayout="row" fxLayoutGap="35px" fxLayout.xs="column">
      <j-control *ngIf="viewModel.controlsByKey['parent']" [control]="viewModel.controlsByKey['parent']" [form]="viewModel.formGroup"></j-control>
      <j-control *ngIf="viewModel.controlsByKey['user']" [control]="viewModel.controlsByKey['user']" [form]="viewModel.formGroup"></j-control>
    </div>
    <j-control *ngIf="viewModel.controlsByKey['info']" [control]="viewModel.controlsByKey['info']" [form]="viewModel.formGroup"></j-control>
    <div *ngFor="let control of viewModel.view; let i = index" fxLayout="column">
      <j-control *ngIf="control.controlType === 'script'" [control]="control" [form]="viewModel.formGroup"></j-control>
    </div>
  </p-panel>

  <p-panel [toggleable]="true" [collapsed]="true" header="Register movements" #accumulation *ngIf="isDoc && isPosted">
    <j-register-movement *ngIf="!accumulation.collapsed" [doc]="model"></j-register-movement>
    <j-register-accumulation-list *ngIf="!accumulation.collapsed" [doc]="model"></j-register-accumulation-list>
  </p-panel>

  <div *ngFor="let r of relations">
    <p-panel [toggleable]="true" [collapsed]="true" #relation [header]="r.name">
      <j-list *ngIf="!relation.collapsed" [docType]="r.type" [pageSize]=10
        [filters]="[{left: r.field, center: '=', right: {id: model.id, type: model.type, value: model.description}}]"></j-list>
    </p-panel>
  </div>

</form>

<ng-template #formTepmlateDefault let-v="viewModel">

  <div fxLayout="column" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px" *ngFor="let i of [0,3,6,9,12,15]">
      <div fxFlex>
        <j-control *ngIf="v.view[i+0] && v.view[i+0].order > 0 && v.view[i+0].type !== 'table' && v.view[i+0].controlType !== 'script'"
          [control]="v.view[i+0]" [form]="v.formGroup"></j-control>
      </div>
      <div fxFlex>
        <j-control *ngIf="v.view[i+1] && v.view[i+1].order > 0 && v.view[i+1].type !== 'table' && v.view[i+1].controlType !== 'script'"
          [control]="v.view[i+1]" [form]="v.formGroup"></j-control>
      </div>
      <div fxFlex>
        <j-control *ngIf="v.view[i+2] && v.view[i+2].order > 0 && v.view[i+2].type !== 'table' && v.view[i+2].controlType !== 'script'"
          [control]="v.view[i+2]" [form]="v.formGroup"></j-control>
      </div>
    </div>

    <br *ngIf="tables.length">
    <p-tabView *ngIf="tables.length" class="tabViewClassInForm">
      <div *ngFor="let control of tables; let i = index">
        <p-tabPanel [header]="control.label">
          <j-control [control]="control" [form]="v.formGroup"></j-control>
        </p-tabPanel>
      </div>
    </p-tabView>

  </div>
</ng-template>

<ng-template #actionTepmlateDefault let-v="viewModel">
  <button pButton type="button" id="PostClose "icon="fa-check-square-o" [label]="(media.asObservable() | async)?.mqAlias === 'xs' ? '.' : 'Post&Close'" class="ui-button-warning" [disabled]="!v.formGroup.valid" (click)="PostClose()" *ngIf="!isDeleted"></button>
  <button pButton type="button" id="Post" icon="fa-check" class="ui-button-secondary" [disabled]="!v.formGroup.valid" (click)="Post()" *ngIf="!isDeleted && isDoc"></button>
  <button pButton type="button" id="unPost" icon="fa-square-o" class="ui-button-secondary" [disabled]="!v.formGroup.valid" (click)="unPost()" *ngIf="!isDeleted && isPosted && isDoc"></button>
  <button pButton type="button" id="Save" icon="fa-floppy-o" class="ui-button-secondary" [disabled]="!v.formGroup.valid" (click)="Save()" *ngIf="!isDeleted && !isPosted || !isDoc"></button>
  <button pButton type="button" id="Copy" icon="fa-copy" class="ui-button-secondary" [disabled]="!v.formGroup.valid" (click)="Copy()" *ngIf="!isDeleted && !isCopy"></button>
  <button pButton type="button" id="Delete" icon="fa-trash" class="ui-button-danger" *ngIf="!(isCopy || isNew)" (click)="Delete()"></button>
</ng-template>

<p-confirmDialog [key]="this.paramID" appendTo="body"></p-confirmDialog>
