<div *ngIf="(appAuth.userProfile$ | async) as userProfile">
  <div *ngIf="appAuth.isAuthenticated()">
    <img [matMenuTriggerFor]="themeMenu" src="{{userProfile?.picture}}" style="width: 45px; height: 45px; border-radius: 50%; cursor: pointer; display: flex; justify-content: center">

    <mat-menu #themeMenu>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z0">
        <img src="{{userProfile?.picture}}" style="width: 125px; height: 125px; border-radius: 50%; margin: 10px">
        <mat-card-title>{{ userProfile?.nickname }}</mat-card-title>
        <mat-card-subtitle>{{ userProfile?.name }}</mat-card-subtitle>
      </mat-card>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <button type="button" mat-raised-button color="warn" (click)="appAuth.logout()">LOGOUT</button>
        <button type="button" mat-button>CLOSE</button>
      </div>
    </mat-menu>
  </div>
</div>
<button type="button" mat-button (click)="appAuth.login()" *ngIf="!appAuth.isAuthenticated()">LOGIN</button>