body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  margin: 0;
  font-size: 0.8em !important ;
}

.layout-wrapper .layout-main {
  padding: 70px 8px 0px 8px;
  margin: 0;
}

.card {
  padding: 8px !important;
  margin: 0 !important;
}

.ui-table .ui-table-tbody > tr > td {
  height: 24px; 
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  text-overflow: ellipsis; 
}

.tabViewClassInForm .ui-table .ui-table-tbody > tr > td {
  height: 26px; 
}

.tabViewClassInForm {
  .ui-table {
  .ui-corner-all {
    border-radius: 0 !important;
  }
}
}

.ui-panel-titlebar {
  padding: 6px 12px 6px 12px !important;
}

.ui-panel .ui-panel-content {
  padding: 8px !important;
}

.ui-toolbar {
  padding: 1px !important;
}

.ui-tabview .ui-tabview-panel {
  padding: 0 !important;
}

.ui-tabview-nav li a {
  padding: 8px !important;
}

.tabViewClassInForm .ui-tabview-nav li a {
  padding: 6px !important;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav {
  margin-bottom: 0px;
}

.ui-tabview {
  padding: 0 !important;
}

.ui-tabview-nav li.ui-state-active {
  border-bottom-color: #2399e5 !important;
  .ui-tabview-title {
    font-weight: bold;
  }
}

.tabViewClassInForm .ui-tabview.ui-tabview-top .ui-tabview-nav {
  padding: 0;
  margin-bottom: -24px;
}

.tabViewClassInForm .ui-tabview-panels {
  border-top: none !important;
}

.ui-dropdown .ui-dropdown-clear-icon {
  right: 3.5em;
}

// buttons
.ui-button-icon-only .fa {
  margin-top : -.45em !important;
  margin-left: -.48em !important;;
}

.ui-button-text-icon-left .fa {
  margin-top: -.41em !important;
}

.ui-button-icon-only {
  width: 2em !important;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a {
  padding: 4px !important; 
}

.ui-timepicker {
  padding: 0px !important; 
}  

.ui-spinner-button {
  display: none !important; 
}  

.ui-dialog .ui-dialog-content {
  padding: 8px !important;
  height: 100% ;
}

.ui-dialog .ui-dialog-titlebar {
  padding: .5em .75em !important;
}

.ui-dialog {
  display: flex !important;
  flex-direction: column !important;
} 

.ui-dropdown-panel .ui-dropdown-filter-container .fa {
  top: 15px !important;
  right: 24px !important;
}

j-control {
  width: 100% !important;
}  

.profile-image {
  border-radius: 50%;
}

.my-code-editor {
    height: calc(100vh - 300px);
}

.ui-autocomplete .ui-autocomplete-input {
  padding-right: 0.5em;
}

.ui-column-filter {
  font-size: xx-small !important
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #d62d20;
  }
  40% {
      stroke: #d62d20;
  }
  66% {
      stroke: #d62d20;
  }
  80%,
  90% {
      stroke: #d62d20;
  }
}

.ui-datepicker select.ui-datepicker-year {
  width: 40%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
