<div [formGroup]="form" [ngSwitch]="control.controlType">

  <md-form-field *ngSwitchCase="'textbox'" fxFlex>
    <input [required]="control.required" #textbox mdInput placeholder={{control.label}} [formControlName]="control.key" [id]="control.key"
      [readOnly]="control.readOnly">
  </md-form-field>

  <md-form-field *ngSwitchCase="'number'" fxFlex>
    <input [required]="control.required" mdInput placeholder={{control.label}} [formControlName]="control.key" [id]="control.key"
      style="text-align: right" [readOnly]="control.readOnly" type="number">
      <button md-icon-button mdSuffix><md-icon>attach_money</md-icon></button>
  </md-form-field>

  <md-form-field *ngSwitchCase="'autocomplete'" fxFlex>
    <input #ac [required]="control.required" mdInput placeholder={{control.label}} [formControlName]="control.key" [id]="control.key"
      [mdAutocomplete]="auto" [readOnly]="control.readOnly">
    <button md-icon-button mdSuffix type="button" style="cursor: pointer" (click)="handleOpen($event)" 
      *ngIf="form.controls[control.key]?.value" [tabIndex]=-1><md-icon>search</md-icon>
    </button>
    <button md-icon-button mdSuffix type="button" style="cursor: pointer" (click)="handleReset($event)" [tabIndex]=-1><md-icon>clear</md-icon></button>
    <button *ngIf="showSearchSpinner" md-icon-button mdSuffix><md-spinner></md-spinner></button>
  </md-form-field>
 
  <md-form-field *ngSwitchCase="'date'" fxFlex>
    <input [required]="control.required" mdInput [mdDatepicker]="picker" placeholder={{control.label}} [formControlName]="control.key"
      [id]="control.key" [readOnly]="control.readOnly">
    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
  </md-form-field>

  <md-form-field *ngSwitchCase="'datetime'" fxFlex>
    <input [required]="control.required" mdInput [mdDatepicker]="picker" placeholder={{control.label}} [formControlName]="control.key"
      [id]="control.key" [readOnly]="control.readOnly">
    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
  </md-form-field>
  
  <md-checkbox *ngSwitchCase="'boolean'" [required]="control.required" 
    [formControlName]="control.key" [id]="control.key" fxFlex>{{control.label}}
  </md-checkbox>

</div>

<md-datepicker #picker></md-datepicker>

<md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event)">
  <md-option *ngFor="let value of this.suggestsReactive | async " [value]="value">
    <span>{{ value.value }}</span>
    <span> ({{value.code}}) </span>
  </md-option>
</md-autocomplete>