<div [formGroup]="form" [ngSwitch]="control.controlType" *ngIf="!control.hidden" [style.marginTop]="control.showLabel ? '24px': ''"
  class="ui-fluid">

  <div *ngSwitchCase="'textbox'" [class]="control.showLabel ? 'ui-float-label' : ''">
    <input #pc [required]="control.required" pInputText [formControlName]="control.key" [id]="control.key" [readOnly]="control.readOnly"
      autocomplete="off" (change)="onChange($event)" (focus)="$event.target.select()">
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'textarea'" [class]="control.showLabel ? 'ui-float-label' : ''">
    <textarea #pc [required]="control.required" pInputTextarea [formControlName]="control.key" [id]="control.key" [readOnly]="control.readOnly"
      (change)="onChange($event)" (focus)="$event.target.select()">
    </textarea>
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'number'" [class]="control.showLabel ? 'ui-float-label' : ''">
    <input #pc [required]="control.required" pInputText type="number" [formControlName]="control.key" [id]="control.key" [readOnly]="control.readOnly"
      autocomplete="off" (change)="onChange($event)" (focus)="$event.target.select()">
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <j-autocomplete-png #pc *ngSwitchCase="'autocomplete'" [required]="control.required" [formControlName]="control.key" [id]="control.key"
    [placeholder]="control.label" [hidden]="control.hidden" [type]="control.type" (change)="onChange($event)" [owner]="{owner: control.owner, value: form.controls[control.owner]?.value}"
    [showLabel]="control.showLabel">
  </j-autocomplete-png>

  <div *ngSwitchCase="'date'" [class]="control.showLabel ? 'ui-float-label' : ''">
    <p-calendar #pc [required]="control.required" [formControlName]="control.key" showButtonBar="true" [id]="control.key" autocomplete="off"
      (change)="onChange($event)" [showIcon]="true" [utc]="true" [showOnFocus]="false" [dateFormat]="formatDate" [locale]="locale"
      (onSelect)="pc.overlayVisible=false" appendTo="body" (focus)="$event.target.select()">
    </p-calendar>
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'datetime'" [class]="control.showLabel ? 'ui-float-label' : ''">
    <p-calendar #pc [required]="control.required" [formControlName]="control.key" showTime="true" hourFormat="24" showButtonBar="true"
      [id]="control.key" autocomplete="off" (change)="onChange($event)" [showIcon]="true" [utc]="true" [dateFormat]="formatDate"
      [locale]="locale" (onSelect)="pc.overlayVisible=false" [showOnFocus]="false" appendTo="body" (focus)="$event.target.select()">
    </p-calendar>
    <label *ngIf="control.showLabel" [for]="control.key">{{control.label}}</label>
  </div>

  <div *ngSwitchCase="'checkbox'">
    <p-triStateCheckbox #pc *ngSwitchCase="'checkbox'" [label]="control.label" [formControlName]="control.key" [id]="control.key"
      (change)="onChange($event)"></p-triStateCheckbox>
  </div>

  <div *ngSwitchCase="'table'">
    <div [formArrayName]="control.key">
      <j-table-part-png [formGroup]="form.controls[control.key]" [control]="control" (onChange)="onChange($event)"></j-table-part-png>
    </div>
  </div>

  <div *ngSwitchCase="'script'">
    <label #pc *ngIf="control.showLabel" [for]="control.key">{{ control.label }}:</label>
    <ngx-monaco-editor [options]="{language: control.type}" [ngStyle]="control.style" (change)="onChange($event)" [id]="control.key"
      [formControlName]="control.key" [id]="control.key">
    </ngx-monaco-editor>
  </div>

</div>