body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  margin: 0;
  font-size: 0.8em !important ;

}

.ui-editable-column {
  padding: 1px 4px !important;
}

.ui-cell-editing {
  padding: 1px 1px !important;
}

.ui-tabview .ui-tabview-panel {
  padding: 0;
}

.tabViewClassInForm .ui-tabview.ui-tabview-top .ui-tabview-nav {
  padding: 0;
  margin-bottom: -24px;
  z-index: 31;
}

.tabViewClassInForm .ui-tabview-panels {
  border-top: none !important;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav {
  margin-bottom: 0px;
}

.ui-tabview {
  padding: 0 !important;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a {
  padding: 4px !important; 
}

.ui-timepicker {
  padding: 0px !important; 
}

.ui-spinner-button {
  display: none !important; 
}

j-control {
  width: 100% !important;
}

.ui-button-icon-only {
  width: 2em !important;
}

.profile-image {
  border-radius: 50%;
}

.my-code-editor {
    height: calc(100vh - 300px);
}

.ui-autocomplete .ui-autocomplete-input {
  padding-right: 0.5em;
}

.ui-column-filter {
  font-size: xx-small !important
}

.ui-datatable .ui-selection-column {
  padding: 0.286em 0.55em !important;
}

.ui-table table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.ui-table th,
.ui-table td {
  padding: .25em .5em;
  border: 1px solid #d9d9d9;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #d62d20;
  }
  40% {
      stroke: #d62d20;
  }
  66% {
      stroke: #d62d20;
  }
  80%,
  90% {
      stroke: #d62d20;
  }
}
