@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  margin: 0;
}

.suggestDialog .mat-dialog-container {
  padding-bottom: 0px;
  min-width: 340px;
  max-width: 650px;
}

.editRowDialog .mat-dialog-container {
  padding: 0;
  min-width: 340px;
  max-width: 650px;
}

.sidenav-menu .mat-expansion-panel-body {
  padding: 0;
  margin: 0;
  overflow: auto;
}

.sidenav-menu .mat-list-item-content {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.sidenav-menu .mat-list-item {
  height: 32px !important;
}

.mat-column-date {
  max-width: 80px !important;
  min-width: 80px !important;
  display: flex;
  text-align: center;
  justify-content: center;
}

.mat-column-select {
  overflow: visible !important;
  max-width: 22px !important;
  min-width: 22px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-code {
  max-width: 140px !important;
}

.mat-cell .mat-checkbox-layout {
  margin-bottom: 2px !important;
}

.mat-column-index {
  overflow: visible !important;
  max-width: 22px !important;
  min-width: 22px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-posted {
  max-width: 24px !important;
  min-width: 24px !important;
  margin: 0px !important;
  padding: 0px !important;
  margin-top: 2px !important;
}

.mat-header-row, .mat-row { 
  padding: 0 16px !important;
  min-height: 32px !important;
}

.mat-header-cell, .mat-cell { 
  padding: 0 4px;
}

.mat-column-currency {
  max-width: 70px !important;
  min-width: 70px !important;
  text-align: end !important;
}

.mat-column-description {
  min-width: 180px !important;
}

.mat-cell {
  font-size: 13px !important;
}

.mat-row:hover {
  background: #f5f5f5;
}

.mat-sort-header-container {
  align-items: center;
}

.mat-sort-header-container .mat-icon {
  height: 20px;

}

.cdk-overlay-pane .mat-card {
  padding-bottom: 12px;
}

.color-picker {
  background-color:white;
  width: 190px;
  height: 190px;
  padding: 8px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}