@import '~@angular/material/_theming';

@include mat-core();

$primary: mat-palette($mat-blue, 700);
$accent: mat-palette($mat-yellow, 700);
$warn: mat-palette($mat-red, 700);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.dark-theme {
  $dark-primary: mat-palette($mat-light-blue);
  $dark-accent: mat-palette($mat-green);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent);

  @include angular-material-theme($dark-theme);
}

.data-table-select { 
  color : mat-color($primary, default);
}

