mat-sidenav {
  width: 260px;
  background: #fafafa;
}

.content {
  padding: 8px;
}
  
.mat-elevation-z8 {
  position: relative;
  z-index: 8;
}

.active-route {
  background: lightgray;
}

.sidenav-menu .mat-expansion-panel-header {
  padding: 0 12px 0 12px;
}

.sidenav-menu .mat-expansion-panel-header-title {
  align-items: center;
}

.sidenav-menu .mat-expansion-panel-body {
  padding: 0 4px 4px;
  margin: 0 4px 4px;
  overflow: auto;
}

.sidenav-menu .mat-expansion-panel {
  background: lightness($color: lightgray)
}

div .mat-line {
  font-size: 14px;
}

.mat-icon .mat-list-icon {
  font-size: 12px;
  padding: 0;
}
