mat-sidenav {
  width: 250px;
  background: whitesmoke;
}

.content {
  padding: 8px;
}
  
.mat-elevation-z8 {
  position: relative;
  z-index: 8;
}

.active-route {
  background: lightgray;
}

.mat-line  {
  color: gray;
}
